<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Book Store</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>

	<div class="col-md-4" style="float: right; padding:20px 0">

		<form th:action="@{/logout}" method="post">
			<span sec:authentication="name" ; style="font-weight:bold;">Name </span> <input type="submit"
				value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>
	<div class="container">
		<div class="col-md-4">
			<h1>My Books</h1>
		</div>

		<div class="col-md-4">
			<h3 th:inline="text">Welcome </h3>
		</div>

		<table class="table table-striped">
			<tbody>
				<tr>
					<th>ISBN</th>
					<th>Title</th>
					<th>Author</th>
					<th>Book Year</th>
					<th>Category</th>
					<th>Price(USD)</th>
					<th> </th>
					<th sec:authorize="hasAuthority('ADMIN')"> </th>
				</tr>
				<tr th:each="book : ${books}">
					<td th:text="${book.isbn}"></td>
					<td th:text="${book.title}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.bookyear}"></td>
					<td th:text="${book.category.getcName()}"></td>
					<td th:text="${book.price}"></td>
					<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}"
							class="btn btn-danger">Delete</a></td>

				</tr>
			</tbody>
		</table>


		<a href="/add" class="btn btn-success">Add Book</a>
</body>

</html>